.container {
  width: 10%;
  padding: 0.2em;
}

.container.grid {
  width: 10%;
}
.container.list {
  margin-left: 1rem;
  width: 20rem; 
}

.video {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.53);
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.container:hover {
  transform: scale(1.05);
}

.thumbnail {
  width: 100%;
  height: 100%;
}

.title,
.channel {
  margin: 1.0;
  font-size: 0.9rem;
  margin-bottom: 1.0;
}

.channel {
  font-size: 0.8rem;
}