.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.navbar {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 1024px;
  display: flex;
  background-color: black;
}
.headlineText {
  text-align: center;
  font-size: 2.5rem;
  color: white;
}
.TodoInsert {
  display: flex;
  padding: 0.5rem;
}
.input {
  width: 30rem;
  background: white;
  outline: none;
  display: flex;
}


.react-icons-youtube {
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  color: red;
  align-items: center;
  
  font-size: 3rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
